<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CriterionManufacturingSolutions.Products.KiosksSolution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CriterionManufacturingSolutions.Products.KiosksSolution.Properties.Settings>
            <setting name="D4BED92BC305" serializeAs="String">
                <value>Bay0012</value>
            </setting>
            <setting name="Bay0012" serializeAs="String">
                <value>Store</value>
            </setting>
            <setting name="Bay0013" serializeAs="String">
                <value>Retrieve</value>
            </setting>
        </CriterionManufacturingSolutions.Products.KiosksSolution.Properties.Settings>
    </userSettings>
</configuration>